@charset "UTF-8";
html {
    color: #FFF;
}

*,
:before,
:after {
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
i {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}

legend {
    color: #000;
}

iframe {
    display: block;
}

body {
    line-height: 1;
    font: 14px "Microsoft YaHei", arial, helvetica, clean, sans-serif;
    color: #fff;
}

select,
input,
button,
textarea {
    font-family: inherit;
    font-size: 99%;
    line-height: inherit;
}

table {
    font-size: inherit;
    font: 100%;
}

pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.placeholder {
    color: #999;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.l {
    float: left !important;
}

.r {
    float: right !important;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.inline-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

body.loaded {
    opacity: 1;
}

/* 自定义滚动条样式，不用请删除 */
.diy-scroll {
    /* IE */
}

.diy-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #032036;
}

.diy-scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.diy-scroll::-webkit-scrollbar-button:end:increment, .diy-scroll::-webkit-scrollbar-button:start:decrement {
    display: block;
}

.diy-scroll::-webkit-scrollbar-button:vertical:end:decrement, .diy-scroll::-webkit-scrollbar-button:vertical:start:increment {
    display: none;
}

.diy-scroll::-webkit-scrollbar-thumb:horizontal, .diy-scroll::-webkit-scrollbar-thumb:vertical, .diy-scroll::-webkit-scrollbar-track:horizontal, .diy-scroll::-webkit-scrollbar-track:vertical {
    border-color: transparent;
    border-style: solid;
}

.diy-scroll::-webkit-scrollbar-track:vertical, .diy-scroll::-webkit-scrollbar-track:horizontal {
    background-color: #032036;
    background-clip: padding-box;
}

.diy-scroll::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100;
    background-color: #015b9a;
    background-clip: padding-box;
    border-radius: 2px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.diy-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #015b9a;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.diy-scroll::-webkit-scrollbar-thumb:active {
    background-color: #015b9a;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.diy-scroll::-webkit-scrollbar-thumb:horizontal, .diy-scroll::-webkit-scrollbar-thumb:vertical, .diy-scroll::-webkit-scrollbar-track:horizontal, .diy-scroll::-webkit-scrollbar-track:vertical {
    border-width: 0;
}

.diy-scroll::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

.diy-scroll::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

.diy-scroll .scrollbar-hover::-webkit-scrollbar,
.diy-scroll .scrollbar-hover::-webkit-scrollbar-button,
.diy-scroll .scrollbar-hover::-webkit-scrollbar-thumb,
.diy-scroll .scrollbar-hover::-webkit-scrollbar-track {
    visibility: hidden;
}

.diy-scroll .scrollbar-hover:hover::-webkit-scrollbar,
.diy-scroll .scrollbar-hover:hover::-webkit-scrollbar-button,
.diy-scroll .scrollbar-hover:hover::-webkit-scrollbar-thumb,
.diy-scroll .scrollbar-hover:hover::-webkit-scrollbar-track {
    visibility: visible;
}

.diy-scroll body,
.diy-scroll div,
.diy-scroll html,
.diy-scroll li,
.diy-scroll ul {
    scrollbar-arrow-color: #032036;
    scrollbar-face-color: #015b9a;
    scrollbar-highlight-color: #015b9a;
    scrollbar-shadow-color: #015b9a;
    scrollbar-shadow-color: #015b9a;
    scrollbar-track-color: #032036;
}

html,
body {
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.filter .el-select .el-input {
    width: 100px;
}
.el-pagination {
    text-align: center;
}